    *{
        margin: 0;
        padding: 0;
        outline: none;
        font-family: "Montserrat", Arial, sans-serif;
    }
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background: url(ondas.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .container{
        width: 350px;
     background: #FFF ;
        border-radius: 7px;
        text-align: center;
        padding: 30px 35px 0 35px;
    }
    /*estilo boton cancelar*/
    .btn-cancelar{
width: 60px;
height: 60px;
padding: 12px 15px;
background: red;
color: white;
border-radius: 40%;
border:4px solid blue;
position: relative;
font-size: 18px;
font-weight: bold;
top: -190px;
right:-450px;
    }
    a{
        text-decoration: none;
    }

    .container header{
        font-size: 28px;
        font-weight: 600;
        margin: 0 0 30px 0 ; 
    }
    .container .form-princ{
        width:100% ;
        overflow: hidden;

    }
    .form-princ form{
        display:flex;
        width: 400%;
    }
.form-princ form .pagina{
    width: 25%;
    transition: margin-left 0.3s ease-in-out;
}
.form-princ .pagina .titulo{
    text-align: left;
    font-size: 20px;
    font-width: 500px;
}
.form-princ .form .pagina .campo{
height: 35px;
width: 350px;
margin: 40px 0;
display: flex;
position: relative;
}

.form-princ .form .pagina .campo .label{
    position: absolute;
    top: -30px;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    float: left;
    text-align:left;
    width: 100%;
}
.form-princ .form .pagina .campo .input{
    width: 100%;
    height: 100%;
    border:1px solid lightgrey ;
    border-radius: 5px;
    font-size:16px;
    padding-left :15px;
                                                                             
}
.form-princ .form .pagina .campo .select{
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    border:1px solid lightgrey ;

}
.form-princ .form .pagina .campo .button{
    width: 100%;
    height: calc (100%+5px);
    margim-top:-20px;
    border: none;
    background: #0E2C48;
    color: #FFF;
    font-size: 18px;
    font-weight:500 ;
    letter-spacing: 1px;
    text-transform:uppercase ;
    cursor:pointer;
    transition:0.3 ease ;

}
.form-princ .form .pagina .campo .hover{
    background: #DB2A31;

}
form-princ .form .pagina .btns .button{
    margim-top:-20px!important;

}
form .pagina .btns .button .volver{
    margin-right:3px;
    font-size: 17px;

}
form.pagina .btns .button .adelante{
    margin-left: 3px;
}

.container .progress-bar{
    display: flex;
    margin: 40px 0;
}
.container .progress-bar .paso{
    text-align: center;
    width: 100%;
    position: relative;
}

.progress-bar .paso p{
font-size: 18px;
font-weight:500 ;
color:black;
margin-bottom: 8px;
transition: 0.2s;
}
.progress-bar .paso p.active{
    color: #DB2A31;
} 
.progress-bar .paso .num{
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50%;
    display:inline-block;
    font-weight:500 ;
    font-size: 17px;
    line-height:25px ;
transition: 0.2s;
}


.progress-bar .paso .num.num.active{
    border-color: red;
    background: #DB2A31;
}
.progress-bar .paso .num span{
    font-weight: 500;
    font-size:17px ;
    line-height: 25px;
    position:absolute  ;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .paso .num.active span{
    display: none;
}
.progress-bar .paso .check{
    display: none;
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%,-50%);
}
.progress-bar .paso .check.active{
    display: block ;color: white;
}
.progress-bar .paso .num::before ,
    .progress-bar .paso .num::after{
        position: absolute;
        content: "";
        width: 44px;
        height: 3px;
        bottom: 11px;
        right: -53px;
        background: black;
    }
    .progress-bar .paso:last-child .num:before ,
    .progress-bar .paso:last-child .num:after{
        display: none;
    }
    .progress-bar .paso .num.active:after{
        background: red;
        animation: mov_Linea 0.3s linear forwards;
        transform: scaleX(0);
        transform-origin:left ;
    }
    @keyframes mov_Linea{
        100%{
            transform: scaleX(1);
        }

    }
    .ojitos{
        position: absolute;
        top: 29%;
        right: 7px;
        font-size: 20px;
        color: #0E2C48; 

    }
    #ocultar{
        display: none;
    }
    #mostrar , #ocultar{
        cursor: pointer;
    }

    /*estilos para mostrar el mensaje de error */

    .error{
        color:#DB2A31;
        float:right;
        text-align: right;
    }